<!-- Versionning --> 
<!--
    Page        : 'Page d'accueil'
    Version     : '1.0.0'
    Date        : '26.10.23'
    Auteur      : 'MIS/MAL'
    Description : 'Page principale'
-->
<!--
ChangeLog  26.10.23 | 1.0.0 MAL : Création de la page principale
-->
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/d912260139.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap'rel="stylesheet">
    <title>Home - My Portfolio</title>
</head>

<body>


    <header>
      <div class="header">
        <img src="./images/logo2.PNG" alt="Logo" class="logo">
        <nav>
            <a href="index.html">Home</a>
            <a href="présentation.html">Présentation</a>
            <a href="éxperiences.html">Expériences</a>
            <a href="loisirs.html">Loisirs</a>
            <a href="contact.html">Contact</a>
        </nav>
      </div>
    </header>

    <div class="content">
      <div class="right">
        <img src="./images/photo.jpg" alt="my Image" class="home-image">
        <div class="social-icons">
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-square-github"></i>
        </div>
      </div>
      <div class="left">
        <h2>BONJOUR !</h2><br>
        <p>je m'appelle</p><br>
        <h1>Mohamed, apprenti</h1><br>
        <h1>développeur</h1><br><br>
        <a href="présentation.html">
        <button class="button">en savoir plus...</button>
        </a>
      </div> 
    </div>


    <footer>
      <div class="footer">
        &copy; 2023 by Mohamed Al Azawi. All Rights Reserved.
      </div>
    </footer>
</body>
</html>

