<!-- Versionning --> 
<!--
    Page        : 'Page presentation'
    Version     : '1.0.1'
    Date        : '26.10.23'
    Auteur      : 'MIS/MAL'
    Description : 'Page Presentation'
-->
<!--
ChangeLog  26.10.23 | 1.0.0 MAL : Création de la page presentation
ChangeLog  27.10.23 | 1.0.7 MAL : Ajouter les informations sur le body

-->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/d912260139.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap'rel="stylesheet">
    <title>Home - My Portfolio</title>
</head>

<body>


    <header>
      <div class="header">
        <img src="./images/logo2.PNG" alt="Logo" class="logo">
        <nav>
            <a href="index.html">Home</a>
            <a href="présentation.html">Présentation</a>
            <a href="éxperiences.html">Expériences</a>
            <a href="loisirs.html">Loisirs</a>
            <a href="contact.html">Contact</a>
        </nav>
      </div>
    </header>

    <div class="content">
      <div class="right">
        <img src="./images/photo.jpg" alt="my Image" class="home-image">
      </div>
      <div class="left">
        <h2>Présentation</h2><br>
        <p>Mohamed Al Azawi, apprenti développeur en 2ème année,<br>
          je fais parti de la junior team du GRI. <br>
          J’ai la soif d’apprendre différents outils & langage de programmation.<br>
          J’ai déjà acquis une certaine compétence en matière <br>
          de développement web que je vais vous démontrer à travers <br>
          la création de ce site web à travers lequel vous pouvez <br>
          également découvrir mes loisirs et divers expériences professionnel. <br> <br> 
        <a href="éxperiences.html">
        <button class="button">expériences</button>
        </a>
      </div> 
    </div>


    <footer>
      <div class="footer">
        &copy; 2023 by Mohamed Al Azawi. All Rights Reserved.
      </div>
    </footer>
</body>
</html>

