<!-- Versionning --> 
<!--
    Page        : 'Page presentation'
    Version     : '1.0.1'
    Date        : '27.10.23'
    Auteur      : 'MIS/MAL'
    Description : 'Page Presentation'
-->
<!--
ChangeLog  26.10.23 | 1.0.0 MAL : Création de la page presentation
ChangeLog  27.10.23 | 1.0.7 MAL : Ajouter les informations sur le body

-->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/styles.css">
    <script src="https://kit.fontawesome.com/d912260139.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap'rel="stylesheet">
    <title>Home - My Portfolio</title>
</head>

<body>


    <header>
      <div class="header">
        <img src="../Images/logo2.png" alt="Logo" class="logo">
        <nav>
            <a href="index.html">Home</a>
            <a href="Presentation.html">Présentation</a>
            <a href="Experiences.html">Expériences</a>
            <a href="Loisirs.html">Loisirs</a>
            <a href="Contact.html">Contact</a>
        </nav>
      </div>
    </header>

    <div class="content">
      <div class="right">
        <img src="../Images/photo.jpg" alt="my Image" class="home-image">
      </div>
      <div class="left">
        <h2>Présentation</h2><br>
        <p>Mohamed Al Azawi, apprenti développeur en 2ème année, je fais partie de la junior team du GRI. 
          J’ai soif d’apprendre, notamment les différents outils & langages de programmation. J’ai déja pu acquérir 
          des compétences en matière de développement web, compétences mises au service de la création de ce site web
          permettant de découvrir mes loisirs et diverses expériences professionnelles. <br><br>
        <a href="Experiences.html">
        <button class="button">expériences pro</button>
        </a>
      </div> 
    </div>


    <footer>
      <div class="footer">
        &copy; 2023 by Mohamed Al Azawi. All Rights Reserved.
      </div>
    </footer>
</body>
</html>

