<!-- Versionning --> 
<!--
    Page        : 'Loisirs'
    Version     : '1.0.0'
    Date        : '27.10.23'
    Auteur      : 'MIS/MAL'
    Description : 'Page Loisirs'
-->
<!--
ChangeLog  30.10.23 | 1.0.0 MAL : Création de la page loisirs
ChangeLog  30.10.23 | 1.0.7 MAL : Ajouter les informations sur le body

-->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/styles.css">
    <script src="https://kit.fontawesome.com/d912260139.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap' rel="stylesheet">
    <link rel="icon" href="../Images/favicon.png" type="image/png">
    <title>Home - My Portfolio</title>
</head>

<body>


    <header>
      <div class="header">
        <img src="../Images/logo2.png" alt="Logo" class="logo">
        <nav>
            <a href="index.html">Home</a>
            <a href="Presentation.html">Présentation</a>
            <a href="Experiences.html">Expériences</a>
            <a href="Loisirs.html">Loisirs</a>
            <a href="Contact.html">Contact</a>
            <a href="Extra.html">Extra</a>
        </nav>
      </div>
    </header>

    <div class="content">
      <h1>Hobbies & Sports</h1>
      <div class="loisirs-icons">
        <a href="#basketball-section"><i class="fa-solid fa-basketball" style="color: #ef9025;"></i></a>
        <a href="#Fitness-section"><i class="fa-solid fa-dumbbell" style="color: #0a3b4c;"></i></a>
        <a href="#Running-section"><i class="fa-solid fa-person-running" style="color: #0a3b4c;"></i></a>
        <a href="#PC-section"><i class="fa-solid fa-desktop" style="color: #0a3b4c;"></i></a>
      </div>
      
      <br><br>
      <div id="basketball-section">
        <h2>Basketball</h2>
        <p>
          In my teens i played basketball on the national level, with my u17 we were vice-champions 
          and Swiss western confernce champions in the u20 category 2 years later. I've always 
          had a passion for team sports and invested myself in the sport as a teen 
          and later on as a Coach. I'm proud that the players i've coached went 1 step ahead of 
          us and achieved the great feat of becoming Swiss champions.
        </p>
        <div class="carousel">
          <img src="../Images/afro.jpg"  class="basket" alt="Basketball1">
          <img src="../Images/Final Four CSJC U14M - 10.JPG" alt="Basketball2">
          <img src="../Images/Final Four CSJC U14M - 26.JPG" alt="Basketball3">
          <img src="../Images/Final Four CSJC U14M - 27.JPG" alt="Basketball4">
          <img src="../Images/titre.jpg" alt="Basketball5">
        </div>
      </div>
       
      <br><br>
      <div id="Fitness-section">
        <h2>Fitness</h2>
        <p>
          When i started studying and later on working in the hospitality industry i 
          didn't have time to play organized sports anymore. That's when i started weight 
          lifting and adapting a healthy life style by eating healthy as well. I was a natural  
          bodybuilder through my 20's and pushed and body and mind to the limits.
          This sport enabled me to become more disciplined, more thourough and
          detail oriented in my research. It also enabled me to become more self-confident. 
        </p>
        <div class="carousel">
          <img src="../Images/gainé1.jpg" alt="fitness1">
          <img src="../Images/gainé2.jpg" class="fit" alt="fitness2">
          <img src="../Images/gainé3.jpg" alt="fitness3">
          <img src="../Images/gainé4.jpg" alt="fitness4">
          <img src="../Images/gainé5.jpg" alt="fitness5">
        </div>
      </div> 
      
      <br><br>
      <div id="Running-section">
        <h2>Running</h2>
        <p>
          It's not an exageration to say that there's almost nothing more liberating 
          than running long distance, i've practiced endless sports through 
          my life organized football, basketball, volleyball and represented my school 
          in differ​ent categories of athletics but nothing clears the mind like running 
          long distance. We suffer through but liberate ourself from wordly matters 
          and the endorphine kick at the end is truely amazing.
        </p>
        <div class="carousel">
          <img src="../Images/marathon lausanne.png"  class="run1" alt="running1">
          <img src="../Images/lausanne2.png" class="run2"  alt="running2">
          <img src="../Images/running1.jpg" alt="running3">
          <img src="../Images/run5.jpg" alt="running4">
          <img src="../Images/running4.PNG" alt="running5">
        </div>
      </div>
      
      <br><br>
      <div id="PC-section">
        <h2>PC Building</h2>
        <p>
          Building, customizing, adding rgb and led to the work station ads 
          colors and fun to pc building. Following the evolution on new hardware
          and upgrading is fun in itself !This is my latest build, a rx 6800 xt coupled 
          with a ryzen 5600x  it was really fun building this pc , my first rgb build.
        </p>
        <div class="carousel-pc">
          <img src="../Images/pc1.jpg" alt="pc1">
          <img src="../Images/pc12.jpg" alt="pc2">
          <img src="../Images/pc3.jpg" alt="pc3">
          <img src="../Images/pc10.jpg" alt="pc4">
          <img src="../Images/pc11.jpg" alt="pc5">
        </div>
      </div>
      
    </div>    


    <footer>
      <div class="footer2">
        &copy; 2023 by Mohamed Al Azawi. All Rights Reserved.
      </div>
    </footer>
</body>
</html>